[Unit]
Description=MPIPS NPZ Worker Host Launcher Socket
Documentation=https://github.com/Madeena-software/mpips

[Socket]
ListenStream=/var/run/mpips-launcher.sock
SocketMode=0660
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
